
<div class="sidebar">
    <div class="logo">
        <img width="40" height="40" src="https://static.vecteezy.com/system/resources/previews/001/783/581/original/round-avatar-with-young-man-free-vector.jpg" />
        <div class="user-info">
          <strong>Kashif</strong>
          <span>CS Student</span>
        </div>
    </div>
    <ul>
        <li>
            <a routerLink="/dashboard">
                <i class="bi bi-0-circle"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/income">
                <i class="bi bi-0-circle"></i>
                <span>Income</span>
            </a>
        </li>
        <li>
            <a routerLink="/expense">
                <i class="bi bi-0-circle"></i>
                <span>Expense</span>
            </a>
        </li>
    </ul>
</div>
<header>

</header>
<main class="main">
    <router-outlet></router-outlet>
</main>